<span class="input-icon">
    <input type="text" class="form-control form-control-sm" id="{{ datatable.name }}-column-{{ column.index }}"
           data-search-column-index="{{ column.index }}"
            {% if column.filter.placeholder != null %}
                placeholder="{{ column.filter.placeholder|trans }}"
            {% endif %}
           value="{{ searchValue ?? '' }}"
    >
    <i class="ace-icon fa fa-search"></i>
</span>